<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>支付宝</title>
		<link rel="stylesheet" href="css/mui.css">
		<link rel="stylesheet" href="css/public.css">
		<script src="js/jquery-2.1.0.js"></script>
		<script src="js/vue-2.6.10.js"></script>
		<style>
			input[type="text"]{margin-bottom: 0;height: auto;padding: 0;}
			input[type='button'],button{border: none;}
			input[type="number"]{margin-bottom: 0;border: none;height: auto;padding:2px 6px;} 
			.width_33{display: block;width: 33%;}
			#wrap {position: relative;}
			.content {margin: 44px 0 10px 0;}
			.classificationTab{border-bottom: 1px solid #ccc;}
			.classificationTab ul{padding: 10px 5%;margin: 0 auto;}
			.classificationTab ul li{width: 25%;}
			.classificationTab ul li:not(:first-child){border-left: 1px solid #ccc;}
			.categoryList{padding: 10px 5%;border-bottom: 6px solid #ccc;}
			.categoryList>*{width: 25%;}
			.QRCodeImg{width: 37px;height: 37px;display: block;margin: 0 auto;}
			.toolBtn_r .btns{padding: 2px 6px;background: none;background: rgba(49,124,223,1);color: #fff;margin: 5px 0;}
			.disableOrOpen.locking{background: deeppink}
			.disableOrOpen.active{background: green;}
			.disableOrOpen:disabled,.disableOrOpen.disabled{background: #f00;}	
			.newlyAdded{width: 50%;display: block;margin: 30px auto;
				height: 42px;
				color: rgba(49,124,223,1);
				font-size: 15px;
				border-radius: 25px;
				border: 1px solid rgba(49,124,223,1);
				background: none;
			}
			.newlyAdded.active{
				background: rgba(49,124,223,1);
				color: #fff;
			}
			button:enabled:active{background: none;}
			button{padding: 0;}
			.newAccount{margin-left: 5px;}
			.newAccountSectionList{padding:10px 5%;border-bottom: 1px solid #ccc;}
			.newAccountSectionList div.newAccountSection_l{width: 25%;}
			.newAccountSectionList input{width: 75%;border: none;margin-left: 4px;}
			.newAccountSectionList input[type="text"]{padding: 4px 6px;}
			.selectCategoriesMain{position: relative;width: 150px;height: 30px;padding: 6px 4px;}
			.selectShowText{box-shadow:0 0 4px rgba(0,0,0,.5);padding:0 6px;position: absolute;top: 0;left: 0;width: 100%;height: 100%;border: 1px solid rgba(49,124,223,1);color: #000;}
			.selectShowText span:nth-of-type(1){display:block;width: 80%;}
			.selectShowText span:nth-of-type(2){display:block;width: 20%;text-align: right;display: none; }
			.selectCategoriesMain{margin-left: 4px;}
			.selectCategoriesMain .selectCategoriesItem{box-shadow:0 0 4px rgba(0,0,0,.5);z-index: 999;width: 100%;border: 1px solid rgba(49,124,223,1);border-top: none;background: #fff;position: absolute;top: 100%;left: 0;}
			.selectCategoriesItem li{display: block;color: rgba(49,124,223,1);padding:6px 6px;}
			.selectCategoriesItem li:not(:first-child){border-top: 1px solid rgba(49,124,223,1);}
			.selectCategoriesItem li.active{background: rgba(49,124,223,1);color: #fff;}
			.btnsRadius {
				display: block;
				width: 50%;
				margin: 50px auto;
				height: 42px;
				color: rgba(49,124,223,1);
				font-size: 15px;
				border-radius: 25px;
				background: none;
			}
			.btnsRadius.active{background: rgba(49,124,223,1);color: #fff;}
            .selectQRCode{border: 2px solid red;}
            .selectQRCode>input{border: 1px solid green;}
            .newQRCodeImg{display: block;width: 50%;height: auto;border: 1px solid #ccc;margin: 20px auto;min-height: 100px;}
			.btnsRadius.active{margin: 10px auto;}
			.btnsRadius.deleteBtn.active{background: #f00;}
			/*支付宝固额码*/
			.tabPart{
				text-align: center;
				position: fixed;
				bottom: 0;
				left: 0;
				width: 100%;
			}
			.tabPart button{
				float:left;
				width: 33.33%;
				color:#000000;
				font-size: 18px;
				height: 35px;
				border-radius: 0;
				background-color:rgba(242,242,242,1);
			}
			.tabPart button.active{
				background-color:rgba(22,155,213,1);
				color:#fff;
			}
			.imgPart{
				margin-top: 40px;
			}
			.imgPart img{
				display: block;
				margin: 20px auto;
				width: 60%;
			}
			.inPart{
				width: 60%;
				height: 44px;
				line-height: 44px;
				text-align: center;
				color:#fff;
				background-color:rgba(22,155,213,1);
				margin: 0 auto;
			}
			.noticePart{
				padding:15px 20px;
				margin-top: 10px;
			}
			.noticePart p{
				margin-bottom:15px;
				font-size: 20px;
				color:red;
				margin-left:15px;
			}
        </style>
	</head>
	<body>

		<!-- 首页云闪付支付入口 -->
		<div id="wrap" v-cloak>

			<template v-if="!newAccountSectionShow">
				<header class="mui-bar mui-bar-nav">
					<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
					<h1 class="mui-title">支付宝</h1>
				</header>

				<div class="font_14 content">

					<!-- exhibitionSection 	start -->
					<div class="exhibitionSection">
						<div class="classificationTab">
							<ul class="justify-content centers">
								<li v-for="(item,index) in classificationTab" v-key="index" v-text="item.text"></li>
							</ul>
						</div>

						<!-- 类别列表	start -->
						<div class="categoryDetails">
							<div class="justify-content centers itemFlex categoryList" v-for="(item,index) in categoryList" v-key="index">
								<div class="ellipsis" v-text="item.payAccount"></div>
								<div>
									<img class="QRCodeImg" :src="item.codeUrl" alt="">
								</div>
								<div class="" v-text="selectCategories[item.codeType-1]"></div>
								<div class="toolBtn_r">
									<!-- :disabled="disabledFlag" :class="{'disabled:':item.codeEnable==0}" :class="{'active':item.codeEnable==1} disabled="false" disableOrOpen[item.codeEnable]" " -->
									<button class="btns disableOrOpen active disabled" v-if="item.codeEnable==0 && item.status != -2" v-text="disableOrOpen[0]"
									 @click="disableOrOpenFlag(item,index)"></button>
									<button class="btns disableOrOpen active" v-if="item.codeEnable==1 && item.status != -2" v-text="disableOrOpen[1]"
									 @click="disableOrOpenFlag(item,index)"></button>
									<button class="btns disableOrOpen locking" v-if="item.status == -2" v-text="disableOrOpen[2]" @click="disableOrOpenFlag(item,index)"></button>
									<button class="btns editBtn" @click="editBtnFn(item,0)" v-text="editBtn"></button>
								</div>
								<input type="hidden" :value="item.id" style="display:none;">
							</div>
						</div>
						<!-- 类别列表	end -->

						<!-- itemCenter -->
						<button class="active newlyAdded" @click="newlyAddedFn(0)">
							<div class="flex itemCenter">
								<span class="bold font_26" v-text="add"></span>
								<span class="newAccount" v-text="newAccount"></span>
							</div>
						</button>
					</div>
					<!-- exhibitionSection 	end -->
				</div>
			</template>

			<template v-if="newAccountSectionShow==1">
				<header class="mui-bar mui-bar-nav">
					<!-- mui-action-back -->
					<a class="mui-icon mui-icon-left-nav mui-pull-left" @click="returnCurrentPage(0)"></a>
					<h1 class="mui-title">支付宝</h1>
				</header>
				<div class="font_14 content">
					<!-- 新增newAccountSection 	start -->
					<div class="newAccountSection">
						<div class="flex itemFlex newAccountSectionList" v-for="(item,index) in newAccountSectionTilte" v-key="index">
							<div class="newAccountSection_l" v-text="item+' : '"></div>
							<input id="payAccount" class="font_14" type="text" v-if="!index">
							<input class="font_14 callMobileAlbum qrCcodeInput" type="file" accept="image/*" capture="camera" v-if="index==1"
							 @click="toggle_subLevel(0)">

							<!-- 类别选择框	start -->
							<div class="selectCategoriesList" v-if="index==2">
								<div class="selectCategoriesMain">
									<div class="flex itemFlex selectShowText" @click="selectCategoriesToggle">
										<span v-text="defaultDisplayCategory"></span>
										<span v-text="'>'"></span>
									</div>
									<ul class="selectCategoriesItem" v-if="selectCategoriesShow">
										<li v-for="(item,index) in options" :key="index" @click="judgingAccountStatusFn(item,index)" v-text="item.label"></li>
									</ul>
								</div>
							</div>
							<!-- 类别选择框	end -->
						</div>

						<img class="newQRCodeImg" src="#" alt="" />

						<button class="btnsRadius bcBtn active" @click="btnsActiveFn" v-text="preservation"></button>
					</div>
					<!-- 新增newAccountSection 	end -->
				</div>
			</template>

			<template v-if="newAccountSectionShow==2">
				<header class="mui-bar mui-bar-nav">
					<!-- mui-action-back -->
					<a class="mui-icon mui-icon-left-nav mui-pull-left" @click="returnCurrentPage(0)"></a>
					<h1 class="mui-title">支付宝</h1>
				</header>
				<div class="font_14 content">
					<!-- 编辑/删除editAccountSection 	start -->
					<div class="editAccountSection" v-if="newAccountSectionShow==2">
						<div class="flex itemFlex newAccountSectionList" v-for="(item,index) in newAccountSectionTilte" v-key="index">
							<div class="newAccountSection_l" v-text="item+' : '"></div>
							<input id="payAccount_edit" class="font_14" type="text" v-if="!index" v-model="upPayAccount">
							<input class="font_14 callMobileAlbum qrCcodeInput" type="file" accept="image/*" capture="camera" v-if="index==1"
							 @click="toggle_subLevel(0)">

							<!-- 类别选择框	start -->
							<div class="selectCategoriesList" v-if="index==2">
								<div class="selectCategoriesMain">
									<div class="flex itemFlex selectShowText" @click="selectCategoriesToggle">
										<span v-text="defaultDisplayCategory"></span>
										<span v-text="'>'"></span>
									</div>
									<ul class="selectCategoriesItem" v-if="selectCategoriesShow">
										<li v-for="(item,index) in options" :key="index" @click="judgingAccountStatusFn(item,index)" v-text="item.label"></li>
									</ul>
								</div>
							</div>
							<!-- 类别选择框	end -->
						</div>

						<img class="newQRCodeImg" :src="getThisList.codeUrl" alt="" />

						<button class="btnsRadius bcBtn active" @click="updateCode(getId)" v-text="preservation"></button>
						<button class="btnsRadius bcBtn deleteBtn active" @click="removeCode(getId)" v-text="deleteBtn"></button>
					</div>
					<!-- 编辑/删除editAccountSection 	end -->
				</div>
			</template>
			<template v-if="newAccountSectionShow==3">
				<header class="mui-bar mui-bar-nav">
					<!-- mui-action-back -->
					<a class="mui-icon mui-icon-left-nav mui-pull-left" @click="returnCurrentPage(0)"></a>
					<h1 class="mui-title">支付宝H5</h1>
				</header>
				<div class="font_14 content" v-if="showHhtml">

					<!-- exhibitionSection 	start -->
					<div class="exhibitionSection">
						<div class="classificationTab">
							<ul class="justify-content centers">
								<li v-for="(item,index) in classificationTab" v-key="index" v-text="item.text"></li>
							</ul>
						</div>

						<!-- 类别列表	start -->
						<div class="categoryDetails">
							<div class="justify-content centers itemFlex categoryList" v-for="(item,index) in categoryList" v-key="index">
								<div class="ellipsis" v-text="item.payAccount"></div>
								<div>
									<img class="QRCodeImg" :src="item.codeUrl" alt="">
								</div>
								<div class="" v-text="selectCategories[item.codeType-1]"></div>
								<div class="toolBtn_r">
									<!-- :disabled="disabledFlag" :class="{'disabled:':item.codeEnable==0}" :class="{'active':item.codeEnable==1} disabled="false" disableOrOpen[item.codeEnable]" " -->
									<button class="btns disableOrOpen active disabled" v-if="item.codeEnable==0 && item.status != -2" v-text="disableOrOpen[0]"
									 @click="disableOrOpenFlag(item,index)"></button>
									<button class="btns disableOrOpen active" v-if="item.codeEnable==1 && item.status != -2" v-text="disableOrOpen[1]"
									 @click="disableOrOpenFlag(item,index)"></button>
									<button class="btns disableOrOpen locking" v-if="item.status == -2" v-text="disableOrOpen[2]" @click="disableOrOpenFlag(item,index)"></button>
									<button class="btns editBtn" @click="infoBtnFn(item,index)" v-text="infoBtn"></button>
								</div>
								<input type="hidden" :value="item.id" style="display:none;">
							</div>
						</div>
						<!-- 类别列表	end -->

					</div>
					<!-- exhibitionSection 	end -->
				</div>
				<div class="imgPart">
					<img src="http://pay.legendpay.vip/static/images/alipayUserId.png">
				</div>
				<div class="inPart" @tap="popUserId" v-text="codeName"></div>
				<div class="noticePart">
					<p>支付宝H5用于生成固定金额的二维码</p>
					<p>1、用支付宝扫描图中二维码，获取UserID</p>
					<p>2、点击按钮，输入UserID，点击提交</p>
					<p>3、USERID输入错误，后果将自行承担</p>
					<p>提示 : 使用USERID可以提高成功率哦</p>
				</div>
			</template>
			<template v-if="newAccountSectionShow==4">
				<header class="mui-bar mui-bar-nav">
					<!-- mui-action-back -->
					<a class="mui-icon mui-icon-left-nav mui-pull-left" @click="returnCurrentPage(1)"></a>
					<h1 class="mui-title">支付宝H5</h1>
				</header>
				<div class="font_14 content">
					<!-- 编辑/删除editAccountSection 	start -->
					<div class="editAccountSection" v-if="newAccountSectionShow==4">
						<div class="flex itemFlex newAccountSectionList" v-for="(item,index) in newAccountSectionTilte" v-if="index!=1"
						 v-key="index">
							<div class="newAccountSection_l" v-text="item+' : '"></div>
							<input id="payAccount_edit" class="font_14" type="text" v-if="!index" v-model="upPayAccount">
							<!-- 类别选择框	start -->
							<div class="selectCategoriesList" v-if="index==2">
								<div class="selectCategoriesMain">
									<div class="flex itemFlex selectShowText">
										<span v-text="defaultDisplayCategory"></span>
										<span v-text="'>'"></span>
									</div>
								</div>
							</div>
							<!-- 类别选择框	end -->
						</div>

						<img class="newQRCodeImg" :src="getThisList.codeUrl" alt="" />

					</div>
					<!-- 编辑/删除editAccountSection 	end -->
				</div>
			</template>

			<template v-if="newAccountSectionShow==5">
				<header class="mui-bar mui-bar-nav">
					<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
					<h1 class="mui-title">支付宝帐号</h1>
				</header>

				<div class="font_14 content">

					<!-- exhibitionSection 	start -->
					<div class="exhibitionSection">
						<div class="classificationTab">
							<ul class="justify-content centers">
								<li v-for="(item,index) in classificationTab2" v-key="index" v-text="item.text"></li>
							</ul>
						</div>

						<!-- 类别列表	start -->
						<div class="categoryDetails">
							<div class="justify-content centers itemFlex categoryList" v-for="(item,index) in categoryList" v-key="index">
								<div class="ellipsis" v-text="item.accountName"></div>
								<div class="" v-text="item.phone"></div>
								<div class="toolBtn_r">
									<button class="btns disableOrOpen active disabled" v-if="item.isEnable==0 && item.status != -2" v-text="disableOrOpen[0]"
									 @click="disableOrOpenFlagTel(item,index)"></button>
									<button class="btns disableOrOpen active" v-if="item.isEnable==1 && item.status != -2" v-text="disableOrOpen[1]"
									 @click="disableOrOpenFlagTel(item,index)"></button>
									<button class="btns disableOrOpen locking" v-if="item.isEnable == -2" v-text="disableOrOpen[2]" @click="disableOrOpenFlagTel(item,index)"></button>
									<button class="btns editBtn" @click="editBtnFn(item,1)" v-text="editBtn"></button>
								</div>
								<input type="hidden" :value="item.id" style="display:none;">
							</div>
						</div>
						<!-- 类别列表	end -->

						<!-- itemCenter -->
						<button class="active newlyAdded" @click="newlyAddedFn(2)">
							<div class="flex itemCenter">
								<span class="font_26" v-text="add"></span>
								<span class="newAccount" v-text="newAccount"></span>
							</div>
						</button>
					</div>
					<!-- exhibitionSection 	end -->
				</div>
			</template>
			<template v-if="newAccountSectionShow==6">
				<header class="mui-bar mui-bar-nav">
					<!-- mui-action-back -->
					<a class="mui-icon mui-icon-left-nav mui-pull-left" @click="returnCurrentPage(2)"></a>
					<h1 class="mui-title">支付宝帐号</h1>
				</header>
				<div class="font_14 content">
					<!-- 新增newAccountSection 	start -->
					<div class="newAccountSection">
						<div class="flex itemFlex newAccountSectionList" v-for="(item,index) in newAccountSectionTilteTel" v-key="index">
							<div class="newAccountSection_l" v-text="item+' : '"></div>
							<input id="nameTel" class="font_14" type="text" v-if="!index">
							<input id="phoneTel" class="font_14" type="text" v-if="index==1">
							<input id="phoneRemark" class="font_14" type="text" v-if="index==2">
							<input class="font_14 callMobileAlbum qrCcodeInput" type="file" accept="image/*" v-if="index==3" @click="toggle_subLevel(1)"
							 multiple>
						</div>

						<img class="newQRCodeImg" src="#" alt="" />

						<button class="btnsRadius bcBtn active" @click="btnsActiveFnTel" v-text="preservation"></button>
					</div>
					<!-- 新增newAccountSection 	end -->
				</div>
			</template>
			<template v-if="newAccountSectionShow==7">
				<header class="mui-bar mui-bar-nav">
					<!-- mui-action-back -->
					<a class="mui-icon mui-icon-left-nav mui-pull-left" @click="returnCurrentPage(2)"></a>
					<h1 class="mui-title">支付宝帐号</h1>
				</header>
				<div class="font_14 content">
					<!-- 编辑/删除editAccountSection 	start -->
					<div class="editAccountSection" v-if="newAccountSectionShow==7">
						<div class="flex itemFlex newAccountSectionList" v-for="(item,index) in newAccountSectionTilteTel" v-key="index">
							<div class="newAccountSection_l" v-text="item+' : '"></div>
							<input id="nameTel_edit" class="font_14" type="text" v-if="!index" v-model="nameTel_edit">
							<input id="phoneTel_edit" class="font_14" type="text" v-if="index==1" v-model="phoneTel_edit">
							<input id="phoneRemark_edit" class="font_14" type="text" v-if="index==2" v-model="phoneRemark_edit">
							<input class="font_14 callMobileAlbum qrCcodeInput" type="file" accept="image/*" v-if="index==3" @click="toggle_subLevel(1)"
							 multiple>

						</div>

						<img class="newQRCodeImg" :src="getThisList.proofUrl" alt="" />


						<button class="btnsRadius bcBtn active" @click="updateCodeTel(getId)" v-text="preservation"></button>
						<button class="btnsRadius bcBtn deleteBtn active" @click="removeCodeTel(getId)" v-text="deleteBtn"></button>
					</div>
					<!-- 编辑/删除editAccountSection 	end -->
				</div>
			</template>
			<div class="tabPart mui-clearfix">
				<button type="button" :class="(newAccountSectionShow!=3&&newAccountSectionShow!=4&&newAccountSectionShow!=5&&newAccountSectionShow!=6&&newAccountSectionShow!=7)?'active':''"
				 @tap="gotoIndex(0)">支付宝</button>
				<button type="button" :class="(newAccountSectionShow==5||newAccountSectionShow==6||newAccountSectionShow==7)?'active':''"
				 @tap="gotoIndex(2)">支付宝帐号</button>
				<button type="button" :class="(newAccountSectionShow==3||newAccountSectionShow==4)?'active':''" @tap="gotoIndex(1)">支付宝H5</button>
			</div>
		</div>

		<script src="js/mui.min.js"></script>
		<script src="js/comm.js"></script>
		<script>
			var formData;
			var app = new Vue({
				el: '#wrap',
				data: {
					getId: '',
					btnsActive: 0,
					newAccountSectionShow: 0,
					judgingAccountStatus: 1, //判断当前类型状态值,默认显示值为1,当值等于1为个人,2为商家,3为扫码转卡
					selectCategories: ['个人', '商家', '扫码转卡'],
					newAccountSectionTilte: ['用户名', '二维码', '类型'],
					newAccountSectionTilteTel: ['支付宝昵称', '支付宝帐号', '收款方姓名', '帐号收款码'],
					preservation: '保存',
					defaultDisplayCategory: '个人', //默认为个人
					msg: [],
					selectCategoriesShow: false,
					newlyAddedflag: 0,
					add: '+',
					newAccount: '新增账号',
					//1为开,0为关
					switchBtn: ['开', '关'],
					switchBtn_open: '开',
					switchBtn_close: '关',
					btnArray: ['取消', '确定'],
					disabledFlag: true,
					disableOrOpen: ['开启', '禁用', '锁定'], //codeEnable状态值等于0为禁用,1为开启
					getThisList: '', //点击编辑按钮获取当前列表值
					editBtn: '编辑',
					infoBtn: '查看',
					deleteBtn: '删除',
					upPayAccount: '',
					upCodeUrl: '',
					codeName: '请输入USERID',
					showHhtml: false,
					classificationTab: [{
						text: '账号'
					}, {
						text: '二维码'
					}, {
						text: '类别'
					}, {
						text: '状态'
					}],
					classificationTab2: [{
						text: '支付宝昵称'
					}, {
						text: '支付宝帐号'
					}, {
						text: '状态'
					}],
					categoryList: [],
					categoryList2: [],
					// 类别下拉框
					options: [{
						codeType: '1',
						label: '个人'
					}, {
						codeType: '2',
						label: '商家'
					}, {
						codeType: '3',
						label: '扫码转卡'
					}],
				},
				created(item, index) {
					var that = this;
					getLists(that, 2);
					var alipayId = localStorage.getItem('alipayId');
					// console.log("alipayId:"+evil(alipayId));
					if (alipayId != null && alipayId != 'null') {
						// console.log("alipayId:"+alipayId);
						this.showHhtml = true;
						this.codeName = 'USREID:' + alipayId;
					}
				},
				methods: {
					returnCurrentPage(n) {
						if (!n) {
							this.newAccountSectionShow = 0;
							this.selectCategoriesShow = false;
							getLists(this, 2);
						} else if (n == 1) {
							this.newAccountSectionShow = 3;
							getLists(this, 5);
						} else {
							this.newAccountSectionShow = 5;
							getLists(this, 8);
						}
					},
					gotoIndex(n) {
						if (!n) {
							this.newAccountSectionShow = 0;
							this.selectCategoriesShow = false;
							getLists(this, 2);
						} else if (n == 1) {
							this.newAccountSectionShow = 3;
							getLists(this, 5);
						} else {
							this.newAccountSectionShow = 5;
							getLists(this, 8);
						}
					},
					popUserId() {
						var btnArray = ['确定', '取消'];

						mui.prompt('请输入新的USERID：', '请输入USERID', '', btnArray, function(e) {
							if (e.index == 0) {
								if (e.value.length != 16) {
									mui.toast('请输入正确的16位USERID');
									return;
								}
								ajax("/member/setAlipayUserId", {
										memberId: mbId(),
										userId: e.value
									},
									function(res) {
										mui.alert(res.message, '', function(e) {
											if (e.index == 0) {
												window.location.href = 'index.html';
											}
										}, 'div');
										// 判断数据是否为 undefined
									}, "POST");
							} else {

							}
						}, 'div');
						document.querySelector('.mui-popup-input input').type = 'number';
					},
					btnsActiveFnTel() {
						// console.log("formData"+formData)
						// this.btnsActive=!this.btnsActive;
						var that = this;
						var authorization = localStorage.getItem("token");
						plus.nativeUI.showWaiting("加载中...");
						//TODO 校验
						if (formData == undefined) {
							plus.nativeUI.closeWaiting();
							mui.alert("请选择图片", '', function(e) {}, 'div')
							return;
						}
						var account = $("#nameTel").val();
						if (account == undefined || account == '') {
							plus.nativeUI.closeWaiting();
							mui.alert("请输入账号名称", '', function(e) {}, 'div')
							return;
						}
						var phoneTel = $("#phoneTel").val();
						if (phoneTel == undefined || phoneTel == '') {
							plus.nativeUI.closeWaiting();
							mui.alert("请输入手机号", '', function(e) {}, 'div')
							return;
						}
						var remark = $("#phoneRemark").val();
						if (remark == undefined || remark == '') {
							plus.nativeUI.closeWaiting();
							mui.alert("收款方姓氏", '', function(e) {}, 'div')
							return;
						}
						formData.append("memberId", mbId());
						formData.append("payTypeId", 8);
						formData.append("phone", phoneTel);
						formData.append("remark", remark)
						formData.append("accountName", account);
						$.ajax({
							url: "http://" + api + "/memberPhone/save",
							type: "post",
							data: formData,
							headers: {
								"Authorization": "Bearer " + authorization
							},
							// crossDomain: true, //强制使用5+跨域
							async: false,
							processData: false,
							contentType: false,
							success: function(data) {
								// console.log(JSON.stringify(data));
								plus.nativeUI.closeWaiting();
								if (data.ok) {
									mui.alert('上传成功', ' ', '确定', function(e) {
										// plus.webview.currentWebview().close("gm_active");
										getLists(that, 1);
										formData = new FormData();
									}, 'div')
									// getImgList(ptId);
								} else {
									mui.alert(data.message, ' ', '确定', function(e) {}, 'div')
								}
							},
							error: function(err) {
								plus.nativeUI.closeWaiting();
								mui.alert("发生错误" + JSON.stringify(err), ' ', '确定', function(e) {
									e.index
								}, 'div')
							}
						});
						this.newAccountSectionShow = 7;
						// alert(this.newAccountSectionShow);
					},
					updateCodeTel(id) {
						// this.btnsActive=!this.btnsActive;
						var that = this;
						var authorization = localStorage.getItem("token");
						plus.nativeUI.showWaiting("加载中...");
						//TODO 校验
						if (formData == undefined) {
							// 	plus.nativeUI.closeWaiting();
							// 	alert("请选择图片");
							// 	return;
							formData = new FormData();
						}
						var account = $("#nameTel_edit").val();
						if (account == undefined || account == '') {
							plus.nativeUI.closeWaiting();
							mui.alert("请输入账号名称", '', function(e) {}, 'div')
							return;
						}
						var phone = $("#phoneTel_edit").val();
						if (phone == undefined || phone == '') {
							plus.nativeUI.closeWaiting();
							mui.alert("请输入手机号", '', function(e) {}, 'div')
							return;
						}
						var remark = $("#phoneRemark_edit").val();
						if (phone == undefined || phone == '') {
							plus.nativeUI.closeWaiting();
							mui.alert("请输入手机号", '', function(e) {}, 'div')
							return;
						}
						formData.append("id", id);
						formData.append("memberId", mbId());
						formData.append("payTypeId", 8);
						formData.append("phone", phone);
						formData.append("remark", remark);
						formData.append("accountName", account);
						$.ajax({
							url: "http://" + api + "/memberPhone/save",
							type: "post",
							data: formData,
							headers: {
								"Authorization": "Bearer " + authorization
							},
							// crossDomain: true, //强制使用5+跨域
							async: false,
							processData: false,
							contentType: false,
							success: function(data) {
								// console.log(JSON.stringify(data));
								plus.nativeUI.closeWaiting();
								if (data.ok) {
									mui.alert('修改成功', '', function(e) {
										// plus.webview.currentWebview().close("gm_active");
										formData = new FormData();
										getLists(that, 8);
									}, 'div')
									// getImgList(ptId);
								} else {
									mui.alert(data.message, '', function(e) {}, 'div')
								}
							},
							error: function(err) {
								plus.nativeUI.closeWaiting();
								mui.alert("发生错误" + JSON.stringify(err), ' ', '确定', function(e) {
									e.index
								}, 'div')
								console.log("发生错误")
								console.log(JSON.stringify(err));
							}
						});
						this.newAccountSectionShow = 5;
						// alert(this.newAccountSectionShow);
					},
					//删除手机号码
					removeCodeTel(id) {
						var that = this;
						mui.confirm('是否确认删除？', appName, this.btnArray, function(e) {
							// console.log(e.index)
							if (e.index == 1) {
								// 弹窗确定按钮
								ajax("/memberPhone/remove", {
										memberId: mbId(),
										phoneId: id
									},
									function(res) {
										mui.alert(res.message, '', function(e) {}, 'div')
										that.newAccountSectionShow = 5;
										getLists(that, 1);
										// 判断数据是否为 undefined
									}, "POST");
							} else {
								// 弹窗取消按钮
							};
						});

					},
					// 保存按钮
					btnsActiveFnTel() {
						// console.log("formData"+formData)
						// this.btnsActive=!this.btnsActive;
						var that = this;
						var authorization = localStorage.getItem("token");
						plus.nativeUI.showWaiting("加载中...");
						//TODO 校验
						if (formData == undefined) {
							plus.nativeUI.closeWaiting();
							mui.alert("请选择图片", '', function(e) {}, 'div')
							return;
						}
						var account = $("#nameTel").val();
						if (account == undefined || account == '') {
							plus.nativeUI.closeWaiting();
							mui.alert("请输入账号名称", '', function(e) {}, 'div')
							return;
						}
						var phoneTel = $("#phoneTel").val();
						if (phoneTel == undefined || phoneTel == '') {
							plus.nativeUI.closeWaiting();
							mui.alert("请输入手机号", '', function(e) {}, 'div')
							return;
						}
						var remark = $("#phoneRemark").val();
						if (remark == undefined || remark == '') {
							plus.nativeUI.closeWaiting();
							mui.alert("收款方姓氏", '', function(e) {}, 'div')
							return;
						}
						formData.append("memberId", mbId());
						formData.append("payTypeId", 8);
						formData.append("phone", phoneTel);
						formData.append("remark", remark)
						formData.append("accountName", account);
						$.ajax({
							url: "http://" + api + "/memberPhone/save",
							type: "post",
							data: formData,
							headers: {
								"Authorization": "Bearer " + authorization
							},
							// crossDomain: true, //强制使用5+跨域
							async: false,
							processData: false,
							contentType: false,
							success: function(data) {
								// console.log(JSON.stringify(data));
								plus.nativeUI.closeWaiting();
								if (data.ok) {
									mui.alert('上传成功', ' ', '确定', function(e) {
										// plus.webview.currentWebview().close("gm_active");
										getLists(that, 8);
										formData = new FormData();
									}, 'div')
									// getImgList(ptId);
								} else {
									mui.alert(data.message, ' ', '确定', function(e) {}, 'div')
								}
							},
							error: function(err) {
								plus.nativeUI.closeWaiting();
								mui.alert("发生错误" + JSON.stringify(err), ' ', '确定', function(e) {
									e.index
								}, 'div')
							}
						});
						this.newAccountSectionShow = 5;
						// alert(this.newAccountSectionShow);
					},
					disableOrOpenFlagTel(item, index) {
						ajax("/memberPhone/switch", {
							phoneId: item.id,
							memberId: mbId(),
							isEnable: item.isEnable //当前状态
						}, function(res) {
							var thatObj = $('.categoryList').eq(index).find('.disableOrOpen');
							mui.alert(res.message, '', function(e) {}, 'div')
							if (res.ok) {
								thatObj.toggleClass('disabled');
								if (thatObj.hasClass('disabled')) {
									thatObj.text('开启');
								} else {
									thatObj.text('禁用');
								}
							}
						}, "POST")
					},
					removeCode(id) {
						var that = this;
						mui.confirm('是否确认删除？', '', this.btnArray, function(e) {
							// console.log(e.index)
							if (e.index == 1) {
								// 弹窗确定按钮
								ajax("/memberCode/deleteCode", {
										memberId: mbId(),
										id: id
									},
									function(res) {
										mui.alert(res.message, '', function(e) {}, 'div')
										that.newAccountSectionShow = 0;
										getLists(that, 2);
										// 判断数据是否为 undefined
									}, "POST");
							} else {
								// 弹窗取消按钮
							};
						});

					},
					updateCode(id) {
						// this.btnsActive=!this.btnsActive;
						var that = this;
						var authorization = localStorage.getItem("token");
						plus.nativeUI.showWaiting("加载中...");
						//TODO 校验
						if (formData == undefined) {
							// 	plus.nativeUI.closeWaiting();
							// 	alert("请选择图片");
							// 	return;
							formData = new FormData();
						}
						var account = $("#payAccount_edit").val();
						if (account == undefined || account == '') {
							plus.nativeUI.closeWaiting();
							mui.alert("请输入账号名称", '', function(e) {}, 'div')
							return;
						}
						// var money = $("#money_edit").val();
						// if(money == undefined || money == '' || money < 0){
						// 	plus.nativeUI.closeWaiting();
						// 	alert("请输入正确的金额");
						// 	return;
						// }
						// formData.append("codeMoney", parseInt(money));
						formData.append("id", id);
						formData.append("memberId", mbId());
						formData.append("payTypeId", 2);
						formData.append("codeType", this.judgingAccountStatus);
						formData.append("payAccount", account);
						$.ajax({
							url: "http://" + api + "/memberCode/new-save",
							type: "post",
							data: formData,
							headers: {
								"Authorization": "Bearer " + authorization
							},
							// crossDomain: true, //强制使用5+跨域
							async: false,
							processData: false,
							contentType: false,
							success: function(data) {
								// console.log(JSON.stringify(data));
								plus.nativeUI.closeWaiting();
								if (data.ok) {
									mui.alert('修改成功', '', function(e) {
										// plus.webview.currentWebview().close("gm_active");
										formData = new FormData();
										getLists(that, 2);
									}, 'div')
									// getImgList(ptId);
								} else {
									mui.alert(data.message, '', function(e) {}, 'div')
								}
							},
							error: function(err) {
								plus.nativeUI.closeWaiting();
								mui.alert("发生错误" + JSON.stringify(err), ' ', '确定', function(e) {
									e.index
								}, 'div')
								console.log("发生错误")
								console.log(JSON.stringify(err));
							}
						});
						this.newAccountSectionShow = 0;
						// alert(this.newAccountSectionShow);
					},
					// 新增账号按钮
					newlyAddedFn(n) {
						// this.newlyAddedflag=!this.newlyAddedflag;
						if (n == 0) {
							this.newAccountSectionShow = 1;
						} else if (n == 2) {
							this.newAccountSectionShow = 6;
						}
					},
					// 保存按钮
					btnsActiveFn() {
						// console.log("formData"+formData)
						// this.btnsActive=!this.btnsActive;
						var that = this;
						var authorization = localStorage.getItem("token");
						plus.nativeUI.showWaiting("加载中...");
						//TODO 校验
						if (formData == undefined) {
							plus.nativeUI.closeWaiting();
							mui.alert("请选择图片", '', function(e) {}, 'div')
							return;
						}
						var account = $("#payAccount").val();
						if (account == undefined || account == '') {
							plus.nativeUI.closeWaiting();
							mui.alert("请输入账号名称", ' ', function(e) {}, 'div')
							return;
						}
						// var money = $("#money").val();
						// if(money == undefined || money == '' || money < 0){
						// 	plus.nativeUI.closeWaiting();
						// 	alert("请输入正确的金额");
						// 	return;
						// }
						// formData.append("codeMoney", parseInt(money));
						formData.append("memberId", mbId());
						formData.append("payTypeId", 2);
						formData.append("codeType", this.judgingAccountStatus);
						formData.append("payAccount", account);
						$.ajax({
							url: "http://" + api + "/memberCode/new-save",
							type: "post",
							data: formData,
							headers: {
								"Authorization": "Bearer " + authorization
							},
							// crossDomain: true, //强制使用5+跨域
							async: false,
							processData: false,
							contentType: false,
							success: function(data) {
								// console.log(JSON.stringify(data));
								plus.nativeUI.closeWaiting();
								if (data.ok) {
									mui.alert('上传成功', ' ', '确定', function(e) {
										// plus.webview.currentWebview().close("gm_active");
										getLists(that, 2);
										formData = new FormData();
									}, 'div')
									// getImgList(ptId);
								} else {
									mui.alert(data.message, ' ', '确定', function(e) {}, 'div')
								}
							},
							error: function(err) {
								plus.nativeUI.closeWaiting();
								mui.alert("发生错误" + JSON.stringify(err), ' ', '确定', function(e) {
									e.index
								}, 'div')
								console.log("发生错误")
								console.log(JSON.stringify(err));
							}
						});
						this.newAccountSectionShow = 0;
						// alert(this.newAccountSectionShow);
					},
					// 编辑按钮
					editBtnFn(item, index) {
						if (index == 0) {
							this.getId = item.id;
							this.newAccountSectionShow = 2;
							this.getThisList = item;
							this.upPayAccount = item.payAccount;
							// this.upCodeUrl=item.codeUrl;
						} else if (index == 1) {
							this.getId = item.id;
							this.newAccountSectionShow = 7;
							this.getThisList = item;
							this.nameTel_edit = item.accountName;
							this.phoneTel_edit = item.phone;
							this.phoneRemark_edit = item.remark;
						}
					},
					// 查看
					infoBtnFn(item, index) {
						this.getId = item.id;
						this.newAccountSectionShow = 4;
						this.getThisList = item;
						this.upPayAccount = item.payAccount;
						// this.upCodeUrl=item.codeUrl;
					},
					switchBtnToggle(item, index) {
						console.log(this.categoryList.length);
						console.log(this.msg);
						console.log(this.msg.length);
						// 'open_'+index
						var msgStr = this.msg.indexOf('open_1')
						console.log('magStr', msgStr);
					},
					selectCategoriesToggle() {
						this.selectCategoriesShow = !this.selectCategoriesShow;
					},
					judgingAccountStatusFn(item, index) {
						this.judgingAccountStatus = item.codeType; //获取状态值
						this.defaultDisplayCategory = item.label;
						this.selectCategoriesShow = false;
						// console.log('judgingAccountStatus',this.judgingAccountStatus);
					},
					toggle_subLevel(n) {
						$("input.qrCcodeInput[type='file']").change(function() {
							formData = new FormData();
							var file = this.files[0];
							if (window.FileReader) {
								var reader = new FileReader();
								reader.readAsDataURL(file);
								//监听文件读取结束后事件
								reader.onloadend = function(e) {
									// $(".weui_uploader_file").css("background-image","url("+e.target.result+")");
									//e.target.result就是最后的路径地址
									$('.newQRCodeImg').attr('src', e.target.result);
								};
							}
							// formData.append("tempCodeUrl", file);
							if (n == 0) {
								formData.append("tempCodeUrl", file);
							} else if (n == 1) {
								formData.append("proof", file);
							}
						});
					},
					disableOrOpenFlag(item, index) {
						ajax("/memberCode/codeEnable", {
							codeId: item.id,
							memberId: mbId(),
							codeEnable: item.codeEnable //当前状态
						}, function(res) {
							var thatObj = $('.categoryList').eq(index).find('.disableOrOpen');
							mui.alert(res.message, '确定', function(e) {}, 'div')
							if (res.ok) {
								thatObj.toggleClass('disabled');
								if (thatObj.hasClass('disabled')) {
									thatObj.text('开启');
								} else {
									thatObj.text('禁用');
								}
							}
						}, "POST")
					}
				}
			})

			function getLists(that, type) {
				if (type == 2 || type == 5) {
					ajax("/memberCode/new-list", {
							memberId: mbId(),
							typeId: type
						},
						function(res) {
							var data = JSON.stringify(res.memberCodeList);
							// 判断数据是否为 undefined
							if (data == undefined) {
								that.categoryList = [];
							} else {
								that.categoryList = JSON.parse(data);
							}
						}, "GET");
				} else if (type == 8) {
					ajax("/memberPhone/listByMbId", {
							memberId: mbId(),
							ptId: 8
						},
						function(res) {
							var data = JSON.stringify(res.list);
							// console.log(data);
							// 判断数据是否为 undefined
							if (data == undefined) {
								that.categoryList = [];
							} else {
								that.categoryList = JSON.parse(data);
							}
						}, "GET");
				}
			};
		</script>
	</body>
</html>
