<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>订单</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/public.css">
		<script src="js/jquery-2.1.0.js"></script>
		<script src="js/vue-2.6.10.js"></script>
		<link rel="stylesheet" href="lib/element-ui/element-ui.css">
		<script src="lib/element-ui/element-ui.js"></script>
		<style>
			.mui-pull-bottom-tips{border: 4px solid red;}
			
			body{background: #fff;}
			.greenColor{/* color: #27f308; */color: #37e81b;}
			.redColor{/* color: #912930;color: #da1a29; */color: #f20918;}
			.fontItalic{ font-style:italic} 
			.mui-plus-pullrefresh .mui-scroll-wrapper.orderMain{width: 95%;margin:50px auto 170px;background-color: #fff;}
			.orderLists{position: relative;padding: 20px 0;border-bottom: 1px solid #ccc;}
			.orderTab{z-index: 999;width: 100%;height: 50px;position: fixed;top: 0;left: 0;background: #fff;box-shadow:0 0 2px #999;}
			.orderTab ul{height: 100%;}
			.orderTab ul li{width: 25%;height: 100%;border-bottom: 2px solid #e8eef2;}
			.orderTab ul li.active{border-bottom: 2px solid #059cf6;}
			.orderTab ul li div{margin: 0 auto;}
			.orderTab ul li span{display: block;}
			.orderNumbers_box{line-height: 26px;}
			.orderPays:nth-of-type(2){margin-left: 40px;}
			.leftText{margin-left: 6px;}
			.orderBTn{position: absolute;top: 20px;right: 0;}
			.repurchaseBtn,.orderLink{padding: 2px 10px;border-radius:10px;border: 1px solid rgba(49,124,223,1);color: rgba(49,124,223,1);}
			.confirmBtn,.orderLink:nth-of-type(2){margin: 10px 0 0 0;}
			.orderLink.active{background: rgba(49,124,223,1);color:white;}
			#wrap .mui-pull-bottom-pocket {background-color:#fff;}
		</style>
	</head>
	<body>
		<div id="wrap" v-cloak>
			<div class="orderTab">
				<ul class="justify-content itemFlex centers font_16">
					<li class="itemFlex ellipsis" v-for="(item,index) in orderTab" v-key="index" :class="{'active':orderActive==index}"
					 @click="orderTabFn(item,index)">

						<el-badge :value="toBePaid" class="item" v-if="item.orderStatus==0">
							<span v-text="item.text"></span>
						</el-badge>

						<el-badge :value="toBeConfirm" class="item" v-else-if="item.orderStatus==3">
							<span v-text="item.text"></span>
						</el-badge>

						<div class="el-badge item" v-else>
							<span v-text="item.text"></span>
						</div>
					</li>
				</ul>
			</div>

			<!--下拉刷新容器-->
			<div id="pullrefresh" class="mui-content mui-scroll-wrapper font_14 orderMain">
				<div class="mui-scroll">
					<!--数据列表-->
					<ul class="mui-table-view mui-table-view-chevron">
						<li class="orderLists" v-for="(item,index) in orderListsRe" v-key="index" v-if="orderFlag==item.getGrabeggStatus  || orderAllActive">
							<div class="orderNumbers_box">
								<div class="flex orderNumbers" v-for="(subItem,subIndex) in numberNames" v-key="subIndex">
									<div class="name" v-text="subItem+' : '"></div>
									<!-- orderStatusText item.getGrabeggStatusName -->
									<div class="leftText" :class="{'greenColor':!subIndex}" v-if="!subIndex" v-text="orderStatusText[item.getGrabeggStatus]"></div>
									<div class="leftText" :class="{'greenColor':!subIndex}" v-if="subIndex==1" v-text="item.mbId"></div>
									<div class="leftText" :class="{'greenColor':!subIndex}" v-if="subIndex==2" v-text="item.grabeggId"></div>
									<div class="leftText" :class="{'greenColor':!subIndex}" v-if="subIndex==3" v-text="item.grabeggTime"></div>
								</div>
							</div>
							<div class="flex orderPays_box">
								<div class="flex orderPays" v-for="(subItem,subIndex) in paysName" v-key="subIndex">
									<div v-text="subItem+' : '"></div>
									<div class="leftText" :class="{'redColor fontItalic':subIndex==1}" v-if="!subIndex" v-text="item.payTye"></div>
									<div class="leftText" :class="{'redColor fontItalic':subIndex==1}" v-if="subIndex==1" v-text="item.getGrabeggMoney"></div>
								</div>
							</div>

							<div class="orderBTn">
								<!-- <div v-if="item.getGrabeggStatus==3" class="orderLink repeatPurchase" @click="repeatPurchase(item,index)" v-text="orderLink[0]"></div>
					  		<div v-if="!item.getGrabeggStatus" class="orderLink confirmOrders" @click="confirmOrders(item,index)" v-text="orderLink[1]"></div> -->

								<!-- 确认按钮 -->
								<!-- @click="confirmOrders(item,index)" -->
								<div v-if="item.getGrabeggStatus==0 || item.getGrabeggStatus==3" class="orderLink confirmOrders" :class="{'active':confirmOrdersActive}"
								 @click="confirmOrders(item,index)" v-text="orderLink[1]"></div>
								 <div v-if="item.getGrabeggStatus==2 || item.getGrabeggStatus==4" class="orderLink repeatPurchase"
								  @click="repeatPurchase(item,index)" v-text="orderLink[0]"></div>
							</div>

						</li>
					</ul>
				</div>
			</div>

			<!-- 底部导航	start -->
			<div class="footTab">
				<div class="justify-content footTabList">
					<a class="flexColumn tablist" v-for="(item,index) in footTab" v-key="index" @tap="footTarActive(item,index)">
						<el-badge :value="orderNums" class="item" v-if="index==1">
							<img class="footBarImg" :src="item.urlActive" alt="" v-if="footActive==index">
							<img class="footBarImg" :src="item.url" alt="" v-else-if="footActive!==index">
							<span class="font_12 " :class="{'active':footActive==index}" v-text="item.text"></span>
						</el-badge>

						<div v-else-if="index!=1" :id="item.id">
							<img class="footBarImg" :src="item.urlActive" alt="" v-if="footActive==index">
							<img class="footBarImg" :src="item.url" alt="" v-else-if="footActive!==index">
							<span class="font_12 " :class="{'active':footActive==index}" v-text="item.text"></span>
						</div>
					</a>
				</div>
			</div>
			<!-- end -->
		</div>


		<!-- 重连遮罩层	start -->
		<!-- @touchmove.prevent -->
		<div class="stopBlock">
			<!-- 重连时禁止用户操作界面 -->
			<div class="centers content">
				<h3 class="centers title txt_2">温馨提示!</h3>
				<p class="font_20 green txt_1">您已断开网络连接,已为您重连&nbsp;<span class="red txt_1 counts"></span>&nbsp;次</p>
			</div>
		</div>
		<!-- 重连遮罩层	end -->
		<script src="js/mui.js"></script>
		<script src="js/comm.js"></script>
		<script type="text/javascript">
			var initOrderLists = [];
			var countsOrder;
			var app = new Vue({
				el: '#wrap',
				data: {
					page: 1,
					toBePaid: 0,
					toBeConfirm: 0,
					orderNums: 0,
					footActive: 1,
					orderBtnActive: 0,
					orderLink: ['补单', '确认'],
					btnArray: ['确定', '取消'],
					numberNames: ['状态', '账号', '订单编号', '时间'],
					paysName: ['支付方式', '金额'],
					orderActive: 0, //导航切换默认显示状态值
					orderFlag: 0, //订单显示状态值
					orderAllActive: false, //是否显示全部订单
					orderStatusText: ['待支付', '已完成', '取消', '待确认', '异常订单'],
					confirmOrdersActive: false, //确认按钮切换背景状态
					orderTab: [{
						orderStatus: 0,
						text: '待支付'
					}, {
						orderStatus: 1,
						text: '已完成'
					}, {
						orderStatus: 2,
						text: '取消'
					}, {
						orderStatus: 3,
						text: '待确认'
					}, {
						orderStatus: 4,
						text: '异常订单'
					}],
					// 订单列表	start
					// //PS:['待支付','已完成','取消','待确认','异常订单'];
					// 当getGrabeggStatus=0时为待支付订单,当getGrabeggStatus=1时为已完成订单,当getGrabeggStatus=2时为取消,getGrabeggStatus=3时为待确认订单,getGrabeggStatus=4时为异常订单
					orderLists: [],
					// 订单列表	end	
					orderListsRe: [], //刷新控件数据
					count: 0,
					bigNum: 0,
					oderListSub: [], //当前显示列表数据
					footTab: [{
						id: 'footIndex',
						link: 'index.html',
						url: 'images/bar_sy.png',
						urlActive: 'images/bar_syActive.png',
						text: '首页'
					}, {
						id: 'footOrders',
						link: 'orders.html',
						url: 'images/bar_dd.png',
						urlActive: 'images/bar_ddActive.png',
						text: '订单'
					}, {
						id: 'footKefu',
						link: '##',
						url: 'images/bar_kf.png',
						urlActive: 'images/bar_kfActive.png',
						text: '客服'
					}, {
						id: 'footMy',
						link: 'my.html',
						url: 'images/bar_wd.png',
						urlActive: 'images/bar_wdActive.png',
						text: '我的'
					}],
				},
				methods: {
					orderTabFn(item, index) {
						var that = this;
						//更改导航切换默认显示状态值
						this.orderActive = index;
						this.orderFlag = item.orderStatus;
						// console.log('this.orderFlag---'+this.orderFlag);

						var len = this.orderLists.length;
						// alert(len);
						// initOrderLists
						getList(that, item.orderStatus);

					},
					footTarActive(item, index) {
						if(this.footActive!=index){
							this.footActive = index;
							if(index==2){
								console.log("placeSatus:"+getGetPlaceSatus());
								if(getGetPlaceSatus() == "1"){
									mui.confirm('正在收款，进入客服会取消收款','提示',['确定','取消'],function (e) {
										if(!e.index){
											if (navigator.onLine){ //正常工作
												window.location.href="http://p.qiao.baidu.com/cps/chat?siteId=13858268&userId=28798369";
											}else { //执行离线状态时的任务
												// mui.toast('您已断开网络连接,请您重新联网后重试',{duration:'short',type:'div'});
												window.location.href="brokenNetTips.html";
											}
										}
									})
								}else{
									if (navigator.onLine){ //正常工作
										window.location.href="http://p.qiao.baidu.com/cps/chat?siteId=13858268&userId=28798369";
									}else { //执行离线状态时的任务
										// mui.toast('您已断开网络连接,请您重新联网后重试',{duration:'short',type:'div'});
										window.location.href="brokenNetTips.html";
									}
								}
								
							}else{
								window.location.href = item.link;
							}
						}
					},
					// 补单按钮
					repeatPurchase(item, index) {
						// this.orderBtnActive = false;
						// $('.orderLists')
						// console.log($(this).parents('.orderLists'));
						console.log(item.getGrabeggMoney) //获取到当前列表金额值
						var that = this;
						mui.confirm('<span style="color:red">如未收到款，请勿确认订单，否则损失自行承担！</span>', '提示', this.btnArray, function(e) {
							// console.log(e.index)
							if (e.index == 0) {
								// 弹窗确定按钮
								ajax("/member/grabegg-info/supplements", {
									"memberId": mbId(),
									"money": item.getGrabeggMoney,
									"grabeggId": item.grabeggId
								}, function(data) {
									
									if (data.ok == true) {
										mui.toast("确认收款成功");
										getList(that, item.getGrabeggStatus);
										// 重新设置待确认状态
										getConfirmOrderNum();
									} else {
										mui.toast(data.message);
									}
								}, "POST");
							} else {
								// 弹窗取消按钮
							};
						},"div");
						// $('.orderLists').eq(index).find('.repeatPurchase').toggleClass('active');//切换class名
					},
					// 确认订单按钮
					confirmOrders(item, index) {
						// this.confirmOrdersActive=!this.confirmOrdersActive;
						// this.confirmOrdersActive=true;

						// this.orderBtnActive = true;
						// console.log(this.confirmOrdersActive);
						console.log(item.getGrabeggMoney) //获取到当前列表金额值
						var that = this;
						mui.confirm('<span style="color:red">如未收到款，请勿确认订单，否则损失自行承担！</span>', "提示", this.btnArray, function(e) {
							// console.log(e.index)
							if (e.index == 0) {
								// 弹窗确定按钮
								ajax("/member/grabegg-info/member_confirm_receipt", {
									"memberId": mbId(),
									"money": item.getGrabeggMoney,
									"grabeggId": item.grabeggId
								}, function(data) {
									if (data.ok == true) {
										mui.toast("确认收款成功");
										getList(that, item.getGrabeggStatus);
										// 重新设置待确认状态
										getConfirmOrderNum();
									} else {
										mui.toast(data.message);
									}
								}, "GET");
							} else {
								// 弹窗取消按钮
							};
						},'div');
						$('.orderLists').eq(index).find('.confirmOrders').toggleClass('active'); //切换class名
					},
				},
				created: function() {
					var that = this;
					getList(that, 0);

					mui.init({
						pullRefresh: {
							container: '#pullrefresh',
							down: {
								style: 'circle', //必选，下拉刷新样式，目前支持原生5+ ‘circle’ 样式
								color: '#2BD009', //可选，默认“#2BD009” 下拉刷新控件颜色
								height: '50px', //可选,默认50px.下拉刷新控件的高度,
								range: '100px', //可选 默认100px,控件可下拉拖拽的范围
								offset: '0px', //可选 默认0px,下拉刷新控件的起始位置
								auto: false, //可选,默认false.首次加载自动下拉刷新一次
								callback: pulldownRefresh
							},
							up: {
								height: "50px", //可选.默认50.触发上拉加载拖动距离
								auto: true, //可选,默认false.自动上拉加载一次
								contentrefresh: "正在加载...", //可选，正在加载状态时，上拉加载控件上显示的标题内容
								contentnomore: '没有更多数据了', //可选，请求完毕若没有更多数据时显示的提醒内容；
								callback: pullupRefresh
							}
						}
					});				

				}
			});



			/**
			 * 上拉加载具体业务实现
			 * bigNum 原始数据
			 * count 展现数据
			 */
			function pullupRefresh() {
				setTimeout(function() {
					// 下面两个变量赋值不能外放,因为每次刷新进来都需要取得变化中的count值,而bigNum也有可能重新获取
					app.bigNum = Math.ceil(app.orderLists.length / 5);
					app.count = Math.ceil(app.orderListsRe.length / 5);

					mui('#pullrefresh').pullRefresh().endPullupToRefresh(app.count === app.bigNum);
					if (app.bigNum !== 0) {
						if (app.bigNum === 1) {
							app.orderListsRe = app.orderLists;
						} else {
							for (var i = app.count * 5; i < (app.count + 1) * 5; i++) {
								if (app.orderLists[i]) {
									app.orderListsRe.push(app.orderLists[i]);
								}

							}
						}
					}

				}, 1000);
			}

			/**
			 * 下拉刷新具体业务实现
			 * bigNum 原始数据
			 * count 展现数据 
			 */
			function pulldownRefresh() {
				setTimeout(function() {
					// 下面两个变量赋值不能外放,因为每次刷新进来都需要取得变化中的count值,而bigNum也有可能重新获取
					app.bigNum = Math.ceil(app.orderLists.length / 5);
					app.count = Math.ceil(app.orderListsRe.length / 5);
					if (app.bigNum !== 0) {
						if (app.bigNum === 1) {
							app.orderListsRe = app.orderLists;
						} else {
							for (var j = app.count * 5; j < (app.count + 1) * 5; j++) {
								if (app.orderLists[j]) {
									app.orderListsRe.unshift(app.orderLists[j]);
								}
							}
						}
					}
					mui('#pullrefresh').pullRefresh().endPulldown(); //refresh completed
					
				}, 1000);
			}

			//上、下拉刷新控件触发函数
			function pullLoading() {
				if (mui.os.plus) {
					mui.plusReady(function() {
						setTimeout(function() {
							mui('#pullrefresh').pullRefresh().refresh(true);
							mui('#pullrefresh').pullRefresh().pullupLoading();
						}, 1000);

					});
				} else {
					mui.ready(function() {
						mui('#pullrefresh').pullRefresh().refresh(true);
						mui('#pullrefresh').pullRefresh().pullupLoading();
					});
				}
			}

			$('.repeatPurchase').click(function() {
				$(this).toggleClass('active');
			});

			window.addEventListener('refresh', function(e) { //执行刷新
				location.reload();
			});

			function confirmOrdersActive() {
				$('.confirmOrders').click(function(e) {
					console.log(e);
					console.log(e.currentTarget);
					console.log(e.target);
					// $(this).toggleClass('active');
					$('.confirmOrders').toggleClass('active');
				});
			};
			// confirmOrdersActive();

			function getList(that, status) {
				var url = "/member/grabegg-info/getGraBeggInfoList";
				mui.ajax(
					"http://" + api + url, {
						data: {
							"memberId": mbId()
						},
						dataType: "json",
						type: 'get',
						async: false,
						success: function(res) {
							var data = JSON.stringify(res);
							// orderStatusText: ['待支付', '已完成', '取消', '待确认', '异常订单'],
							// getGrabeggStatus订单状态

							if (data == undefined) {
								that.orderListsRe = [];
								pullLoading();
							} else {
								that.oderListSub = JSON.parse(data);

								countsOrder2(that.oderListSub, that);
								that.orderLists = [];
								that.orderListsRe = [];
								for (var h = 0; h < that.oderListSub.length; h++) {
									if (that.oderListSub[h].getGrabeggStatus === status)
										that.orderLists.push(that.oderListSub[h]);
								}
								pullLoading();
							}
						}
					});
			};


			// 计算订单具体项加勋章
			function countsOrder2(initData, that) {
				// var that=this;
				// var orderLists=that.orderLists;
				var orderLists = initData;
				var len = orderLists.length;
				var dzfNums = 0;
				var dqrNums = 0;

				var initNums = 10;
				var initArry = [];
				// for(var y=0;y<initNums;y++){
				// 	initArry[y]=initData[y];
				// 	// that.orderLists = JSON.parse(data);
				// 	that.orderLists = initArry;
				// };


				// 判断orderLists列表中getGrabeggStatus状态
				// console.log(orderLists);
				console.log('len---' + len);
				// alert('len---'+len);
				for (var i = 0; i < len; i++) {
					if (typeof(orderLists[i].getGrabeggStatus) != "undefined") {
						var getGrabeggStatus = orderLists[i].getGrabeggStatus;
						// console.log('getGrabeggStatus---列表状态值i='+i+'---'+getGrabeggStatus);
						/* 当getGrabeggStatus=0时为待支付订单,当getGrabeggStatus=1时为已完成订单,
						当getGrabeggStatus=2时为取消,getGrabeggStatus=3时为待确认订单,getGrabeggStatus=4时为异常订单 */
						//计算待支付总数
						if (getGrabeggStatus == 0) {
							dzfNums++;
							console.log(getGrabeggStatus + '---待支付---i=' + i);
							console.log('dzfNums--' + dzfNums);
						};
						//计算待确认总数
						if (getGrabeggStatus == 3) {
							dqrNums++;
							// console.log(getGrabeggStatus+'---待确认---i='+i);
							// console.log('dqrNums',dqrNums);
						};
					};
				};
				// 赋值
				that.toBePaid = dzfNums;
				that.toBeConfirm = dqrNums;
				var counts = that.toBePaid + that.toBeConfirm;
				that.orderNums = counts;
				// PS:调用此方法会报错---会导致组件无法正常显示值以及无法赋值!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
				//
				//http://154.216.1.125:8005/pay-test?tdsourcetag=s_pcqq_aiomsg 支付测试接口
			};
		</script>
	</body>
</html>
