<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>找回密码</title>
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
        <link href="css/mui.css" rel="stylesheet" />
        <link rel="stylesheet" href="css/registeredLogin.css">
        <script src="js/jquery-2.1.0.js"></script>
        <script src="js/mui.min.js"></script>
		<link rel="stylesheet" href="css/public.css">
        <script src="js/vue-2.6.10.js"></script>
    </head>
    <body>
        <div id="wrap">
            <div class="main">
                <img class="appNameImage" :src="appNameImage" alt="">
                
                <div class="registrationReset">
                    <form action="" id="myform">
                        <!-- 忘记密码    start -->
                        <div class="forgetPasswordMain">
                            <div class="flexRow registrationReset_List" v-for="(item,index) in forgetPasswordMain" v-key="index">
                                <div class="iconImg">
                                    <img :src="item.url" alt="">
                                </div>
                                <!-- input输入框 -->
								<!-- :class="{'reg_user':!index,'reg_mobile':index==1,'reg_verifyCode':index==2,'reg_password':index==3,'reg_confirm':index==4}" -->
                                <input class="font_14 infoVal" :type="item.type" :maxlength="item.len" :placeholder="item.value" :class="{'reg_user':!index,'reg_password':index==1,'reg_confirm':index==2,'reg_verifyCode':index==3}">
                                <!-- 获取验证码按钮 -->
                                <input class="verificaCode" type="button" v-if="item.verificaCode" :value="verificaCode">
                            </div>
                        </div>
                        <!-- 忘记密码    end -->

                        <!-- 忘记密码登录   start -->
                        <div class="btnList forgetPasswordBtn">
							<!-- 保存按钮 -->
                            <!-- <input class="btns active forgetPasswordLogin" :type="btnList.type" :value="btnList.value"> -->
							<!-- :class="{!index,'forgetPasswordLogin':''}"  -->
							<!-- {'forgetPasswordLogin':!index} -->
							<input class="btns" :class="{'forgetPasswordLogin':!index,'jumpLogin':index==1,'active':jumpFlag==index} " :type="item.type" :value="item.value" v-for="(item,index) in btnList" v-key="index" @click="junmpLink(item,index)">
							<!-- 登录按钮 -->
							
                        </div>
                        <!-- 忘记密码登录    end -->
                    </form>
                </div>
            </div>
        </div>
		
		<!-- 重连遮罩层	start -->
		<!-- @touchmove.prevent -->
		<div class="stopBlock">
			<!-- 重连时禁止用户操作界面 -->
			<div class="centers content">
				<h3 class="centers title txt_2">温馨提示!</h3>
				<p class="font_20 green txt_1">您已断开连接,已为您重连&nbsp;<span class="red txt_1 counts"></span>&nbsp;次</p>
			</div>
		</div>
		<!-- 重连遮罩层	end -->
        <script src="js/mui.js"></script>
		<script src="js/comm.js"></script>
		<!-- 验证码倒计时 -->
		<script src="js/Countdown.js"></script>
        <script type="text/javascript">
			var successRevision=false;	//successRevision为真时更改loginType的值,进行提交跳转
			var sendMessageIsOk = false;
            var app=new Vue({
                el:'#wrap',
                data:{
					jumpFlag:0,
                    appNameImage:'images/appNameImage.png',
                    verificaCode:'获取验证码',
                    forgetPassword:'忘记密码',

                    // 忘记密码
                    forgetPasswordMain:[{
                        type:'text',
                        url:'images/icon_user.png',
                        value:'请输入用户名'
                    },{
                        type:'password',
                        url:'images/icon_pass.png',
                        value:'请输入密码'
                    },{
                        type:'password',
                        url:'images/icon_pass.png',
                        value:'请重复输入密码'
                    },{
                        verificaCode:'获取验证码',//true
                        type:'text',
                        url:'images/icon_yz.png',
                        value:'请输入验证码'
                    }],
					
                    // 登录按钮    
                    btnList:[{
                        type:'submit',
                        // type:'button',
                        value:'保存'
                    },{
						type:'button',
						value:'登录'
					}],
                },
                methods:{
					junmpLink(item,index){
						this.jumpFlag=index;
						if(!index){
							// console.log(index);
							
						}else{
							// console.log(index);
							$(window).attr('location','login.html');
						}
					}
                }
            });
            
            // mui.init();

            // var count = 60;
            var codeNum=60;
            var user_Boolean = false;
            var password_Boolean = false;
            var varconfirm_Boolean = false;
            var emaile_Boolean = false;
            var Mobile_Boolean = false;
            var verifiyCode_Boolean=false;
			var userLogin_Boolean = false;
			var passwordLogin_Boolean=false;
			var user_BooleanFlag=false;

            // user_Boolean && Mobile_Boolean && verifiyCode_Boolean && password_Boolean && varconfirm_Boolean
            /* -----------------------------验证规则 start---------------------------- */
            // verifiy
            // 验证找回密码用户名 规则3-20位用户名
            function verifiyUser(){
                var userNames=$(".reg_user").val();
                // 3-20位用户名
                // if(!reg.exec(userNames) || userNames == null || userNames == '')
                // if(!userNames == null || !userNames == '')
                // if ((/^[a-z0-9_-]{3,20}$/).test($(".reg_user").val()))
                
                if(userNames == null || userNames == ''){
                    user_Boolean = false;
                    mui.toast('用户名不能为空',{duration:'short',type:'div'});
                    return false;
                }else if((/^[a-z0-9_-]{3,20}$/).test($(".reg_user").val())){
                    user_Boolean = true;
                    return false;
                }else {
                    mui.toast('请输入3到20位用户名',{duration:'short',type:'div'});
                    user_Boolean = false;
                    return false;
                }
            };
			
            // 验证找回密码 规则3-20
            function verifiyPassword(){
                var regPassword=$(".reg_password").val();
                if(!user_Boolean){
                    verifiyUser();
                }else{
                    if(regPassword == null || regPassword == ''){
                        mui.toast('密码不能为空',{duration:'short',type:'div'});
                        password_Boolean = false;
                        return false;
                    }else if ((/^[a-z0-9_-]{3,20}$/).test(regPassword)){
                        password_Boolean = true;
                        return false;
                    }else {
                        mui.toast('请输入3-20位密码',{duration:'short',type:'div'});
                        password_Boolean = false;
                        return false;
                    };
                };
            };
            
            //验证确认密码
            function verifiyConfirm(){
				if(!user_Boolean){
				    verifiyUser();
				}else if(!password_Boolean){
					verifiyPassword();
				}else{
					var regPassword=$(".reg_password").val();
					var regConfirm=$(".reg_confirm").val();
					if(regConfirm == null || regConfirm == ''){
						mui.toast('请再次确认密码',{duration:'short',type:'div'});
						varconfirm_Boolean = false;
						return false;
					}else if (($(".reg_password").val())==(regConfirm)){
						varconfirm_Boolean = true;
						return false;
					}else {
						mui.toast('两次输入的密码不一致',{duration:'short',type:'div'});
						varconfirm_Boolean = false;
						return false;
					};
				};
            };
            
            // 验证手机号码
            function verifiyPhone(){
				var reg = /^1(3|4|5|6|7|8|9)\d{9}$/;
				var reg_2=/^1[3456789]\d{9}$/;
				var pswd = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{3,20}$/;
				
				if(!user_Boolean){
					verifiyUser();
				}else{
					var regMobile=$(".reg_mobile").val();
					if(regMobile == null || regMobile == ''){
						mui.toast('手机号码不能为空',{duration:'short',type:'div'});
						Mobile_Boolean = false;
						return false;
					}else if ((/^1[34578]\d{9}$/).test(regMobile)){
						Mobile_Boolean = true;
						return false;
					}else {
						mui.toast('请输入正确的手机号码',{duration:'short',type:'div'});
						Mobile_Boolean = false;
						return false;
					};
				};
            };
			function testVerifyCode(){
				var verifycode=$(".reg_verifyCode").val();
				if(!varconfirm_Boolean){
					verifiyConfirm();
				}else{
					$.post("php/checkcode.php",{verify,verifycode},function(data){
						if(data=="1"){
							console.log("验证码正确");
						}else{
							console.log("验证码错误");
							mui.toast('验证码错误',{duration:'short',type:'div'});
						}
					});
					// mui.toast('验证码错误',{duration:'short',type:'div'});
					// verifiyCode_Boolean=true;
				};
			};

            /* -------------------------------------验证规则 end---------------------------------------- */
			// 忘记密码用户名
            $('.reg_user').blur(function(){
                verifiyUser();
            });
			
			// 忘记密码输入框
            $('.reg_password').blur(function(){
                verifiyPassword();
            });

            // 确认密码
            $('.reg_confirm').blur(function(){
                verifiyConfirm();
            });

            // 手机号码
            $('.reg_mobile').blur(function(){
                verifiyPhone();
            });
			
			// 验证码输入框
			$(".reg_verifyCode").blur(function(){
				// testVerifyCode();
				// 当verifiyCode_Boolean值为真是,表示验证码输入正确
				
			});
			
			// 获取验证码
			$(".verificaCode").Countdown({
			    CountTime: 60,
			      BeforeSend: function () {
					// 判断手机号码
					if(!varconfirm_Boolean){
						verifiyConfirm();
					}else{
						return true;
					}
			    },
			    Action: function (){
					var regUser=$(".reg_user").val();
					getCheckout(regUser); 
					console.log("flag=============="+sendMessageIsOk);
				}
			});
			//提交
            // 忘记密码登陆按钮    start
            $('.forgetPasswordLogin').click(function(e){
				var userNames=$(".reg_user").val();
				var regPassword=$(".reg_password").val();
				var regMobile=$(".reg_mobile").val();
				var verifycode=$(".reg_verifyCode").val();
				var regConfirm = $(".reg_confirm").val();
                
                var reg = /^1[3|4|5|7|8][0-9]\d{3,20}$/;
                var pswd = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{3,20}$/;
                // var pswd2=/^[a-z0-9_-]{3,20}$/;
                
				/*
				 if(user_Boolean && Mobile_Boolean && verifiyCode_Boolean && password_Boolean && varconfirm_Boolean){}
				 else if(!Mobile_Boolean){
				    verifiyPhone();
				}else if(!verifiyCode_Boolean){
					// alert('verifiyCode_Boolean');
					testVerifyCode();
				} */
				
				
                e.preventDefault();//阻止默认行为（表单提交）
				if(!user_Boolean){
					verifiyUser();
				}else if(!password_Boolean){
					verifiyPassword();
				}else if(!varconfirm_Boolean){
					verifiyConfirm();
				}else if(user_Boolean && password_Boolean && varconfirm_Boolean){
					// console.log("密码重置成功");
					// 发送重置请求
					$.post("http://" + api + "/resetPassword", {
						"mbName": userNames,
						"newPassword": regPassword,
						"againPassword": regConfirm,
						"checkCode": verifycode
					},function(res){
						console.log(JSON.stringify(res))
						if(res.ok){
							mui.alert('密码重置成功',' ','确定',function (e) {
								successRevision=1;
								$(window).attr('location','login.html');
								// 表单清空
								clearForm();
							},'div')
						}else{
							mui.alert(res.message,' ','确定',function (e) {},'div')
						}
					});
					// mui.toast('密码重置成功',{duration:'short',type:'div'});
				}else{
					mui.toast('请完善信息',{duration:'short',type:'div'});
				};
				/* if(successRevision){
					mui.toast('密码重置成功',{duration:'short',type:'div'});
					$(window).attr('location','login.html');
				}
                return false; */
            });
            // 忘记密码登陆按钮   end
			function clearForm(){
				$(".forgetPasswordMain").children('form').find('input[type=text],input[type=number],input[type="password"]').val('');
			}
			
			function getCheckout(username){
				$.post("http://" + api + "/getMobileCode", {
					"param": username
				}, function(res) {
					if(res.ok){
						mui.alert(res.message, " ", "确定", function() {});
						sendMessageIsOk = true;
					}else{
						mui.alert(res.message, " ", "确定", function() {});
					}
				});
			}
        </script>
    </body>
</html>

